
<%- include('partials/header', { title: "Agregar Contratos" } )%>


<div class="container theme-showcase" role="main">

<form action="guardarContrato" method="post" >

    <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">ID</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control" id="id"  name="id" value="<%= id[0].next_id %>">
        </div>
    </div>


    <div class="form-group row">
        <label for="fecha" class="col-sm-2 col-form-label">Fecha</label>
        <div class="col-sm-6">



            <select class="form-control" name="fecha" id="fecha">
                <%# console.log(fechas)%>
                <% for(var i = 0; i < fechas.length; i++) { %>
        
                    <option value= <%= fechas[i].fecha %>  >  <%= fechas[i].mes_y_anio %>   </option>
        
                <% } %>


            </select>









            <!-- <select class="form-control" id="fecha" name="fecha" >
                <option value ="2021-11-30">Noviembre 2021</option>
                <option value ="2021-12-31">Diciembre 2021</option>
                <option value ="2022-01-31">Enero 2022</option>
                <option value ="2022-02-28">Febrero 2022</option>
                <option value ="2022-03-31">Marzo 2022</option>
                <option value ="2022-04-30">Abril 2022</option>
                <option value ="2022-05-31">Mayo 2022</option>
                <option value ="2022-06-30">Junio 2022</option>
                <option value ="2022-07-31">Julio 2022</option>
                <option value ="2022-08-31">Agosto 2022</option>
            </select> -->
        </div>
    </div>


    <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">Nombre Contrato</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="nombre_contrato" name="nombre_contrato" >
        </div>
    </div>



    <div class="form-group row">
        <label for="tipo_contrato" class="col-sm-2 col-form-label">Tipo Contrato</label>
        <div class="col-sm-6">
            <select class="form-control" id="tipo_contrato" name="tipo_contrato" onchange="toggleInputsBasedOnContractType()">
                <option value="suministro">Contrato de Suministro</option>
                <option value="reserva">Contrato de Reserva / Gran Cliente</option>                
            </select>
        </div>
    </div>


    <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">Empresa</label>
        <div class="col-sm-6">
            <select class="form-control" id="empresa" name="empresa">
                <option>ENSA</option>
                <option>EDEMET</option>
                <option>EDECHI</option>
            </select>
            
        </div>
    </div>

    <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">Potencia Contratada</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="potencia_contratada" name="potencia_contratada" >
        </div>
    </div>


    <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">Categoria Precio</label>
        <div class="col-sm-6">
            
                <select class="form-control" name="categoria_precio" id="categoria_precio" name="categoria_precio">
                    <%# console.log(fechas)%>
                    <%# console.log(fecha)%>
                    
                    <option value="" ></option>

                    <% for(var i = 0; i < categoriasPrecio.length; i++) { %>
            
                        <option value="<%=categoriasPrecio[i].categoria_precio%>"  <%#= fechas[i].fecha == fecha ? 'selected' : ''  %>     > <%=categoriasPrecio[i].categoria_precio%></option>
            
                    <% } %>
                    </select>
                    
        </div>
    </div>



    <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">Precio Base USD/MWh</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control" id="precio_base_usd_mwh" name="precio_base_usd_mwh">
        </div>
    </div>


    <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">Cargo Transmisión</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control" id="cargo_transmicion_seguimiento_electrico" name="cargo_transmicion_seguimiento_electrico">
        </div>
    </div>


    <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">Precio</label>
        <div class="col-sm-6">
            <input type="text" readonly class="form-control" id="precio" name="precio">
        </div>
    </div>


    <div class="form-group row">
        <label for="ingreso_total_contrato" class="col-sm-2 col-form-label">Ingreso Total del Contrato</label>
        <div class="col-sm-6">
            <input type="text" class="form-control"  id="ingreso_total_contrato" name="ingreso_total_contrato">
        </div>
    </div>


    <input type="hidden" id="accion" name="accion" value="agregar">
    <button class="btn btn-s btn-success"  type="submit"  > Guardar Contrato  </button>
    <a class="btn btn-s btn-warning"  href="/modificarContratos"> Cancelar  </a>
    
</div>
</form>



<script>
    // script para actualizar precios en text boxs
    
    const rest = <%- JSON.stringify(tiposPrecio) %>;

    const select_categoria = document.getElementById('categoria_precio');
    const select_fecha = document.getElementById('fecha');

    select_categoria.addEventListener('change', function handleChange(event) {

        console.log("1")   

        console.log(event.target.value); // 👉️ get selected VALUE

        // 👇️ get selected VALUE even outside event handler
        console.log(select_categoria.options[select_categoria.selectedIndex].value);

        // 👇️ get selected TEXT in or outside event handler
        console.log(select_categoria.options[select_categoria.selectedIndex].text);

        console.log( rest );

        console.log( select_fecha.options[select_fecha.selectedIndex].value );

        var newArray = rest.filter(function (el) {
                return el.categoria_precio == select_categoria.options[select_categoria.selectedIndex].text && 
                el.fecha == select_fecha.options[select_fecha.selectedIndex].value 
            //el.num_of_beds >= 2 &&
            //el.num_of_baths >= 1.5; // Changed this so a home would match
        });
        console.log(newArray);

        document.getElementById("precio_base_usd_mwh").value = newArray[0].precio_base_usd_mwh;
        document.getElementById("cargo_transmicion_seguimiento_electrico").value = newArray[0].cargo_transmicion_seguimiento_electrico;
        document.getElementById("precio").value = newArray[0].precio;
    });


    function toggleInputsBasedOnContractType() {
        var tipoContrato = document.getElementById('tipo_contrato').value;
        var isReservaSelected = tipoContrato === 'reserva';

        document.getElementById('empresa').disabled = isReservaSelected;
        document.getElementById('potencia_contratada').disabled = isReservaSelected;
        document.getElementById('categoria_precio').disabled = isReservaSelected;
        document.getElementById('cargo_transmicion_seguimiento_electrico').disabled = isReservaSelected;
        document.getElementById('precio').disabled = isReservaSelected;
        document.getElementById('ingreso_total_contrato').disabled = !isReservaSelected;


        document.getElementById('categoria_precio').value = "";
        document.getElementById('potencia_contratada').value = 0;

    }

    // Call the function on page load to set the initial state of the input fields
    toggleInputsBasedOnContractType();


    
</script>


</body>

