
<!DOCTYPE html>
<html lang="en">
<head>
  <title> <%= title %> </title>

<style> 

body{
    font-family: Arial, Helvetica, sans-serif;

}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

#customers tr:last-child {
  font-weight: bold;
}

h2 {
color: #616060;
font-family: arial, sans-serif;
font-size: 18px;
font-weight: bold;
margin-bottom: 15px;
}
</style>
</head>


<body>
<div class="table-data">

    <form action="/action_page.php">
        <label for="cars">Fecha:</label>
        <select name="cars" id="cars">
          <option value="volvo">Octubre 2021</option>
          <option value="saab">Noviembre 2021</option>
          <option value="opel">Diciembre 2021</option>
          <option value="audi">Enero 2022</option>
        </select>
        <br><br>
        <input type="submit" value="Actualizar">
        <input type="submit" value="Descargar">
      </form>


<h2><%= title %> </h2>
    <table id="customers">
        <tr>
            <th>CMS Promedio</th>
            <th>Energia Generada</th>
            <th>Compras de Energía en el Mercado Ocasional</th>
            <th>Ventas de Energía en el Mercado Ocasional</th>
            <th>Ingresos por Contratos</th>
            <th>SAERLP</th>
            <th>Débito de Energía en Pérdidas de Transmisión </th>
            <th>Crédito de Energía en Pérdidas de Transmisión</th>
            <th>SASD</th>
            <th>Generación Obligada</th>
            <th>Servicios Auxiliares</th>
            <th>Compensación de Potencia</th>
            <th>Ingreso Total Neto</th>      
        </tr>
        
        <% if(data.recordset.length!=0){
            for(var i=0 ; i <data.recordset.length ; i++) { %>
                <tr>
                    <td><%= data.recordset[i].cms_promedio.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= data.recordset[i].energia_generada.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= data.recordset[i].compras_energia_mercado_ocasional.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= data.recordset[i].ventas_energia_mercado_ocasional.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= data.recordset[i].ingresos_por_contratos.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= data.recordset[i].SAERLP.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')  %></td>
                    <td><%= data.recordset[i].debito_energia_perdida_transmision.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')  %></td>
                    <td><%= data.recordset[i].credito_energia_perdida_transmision.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')  %></td>
                    <td><%= data.recordset[i].sasd.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')  %></td>
                    <td><%= data.recordset[i].generacion_obligada.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')  %></td>
                    <td><%= data.recordset[i].servicios_auxiliares.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')  %></td>
                    <td><%= data.recordset[i].compensacion_potencia.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')  %></td>
                    <td><%= data.recordset[i].ingreso_total_neto.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')  %></td>                    
                </tr>
            <% }
        } else { %>
            <tr>
                <td colspan="3">No Data</td>
            </tr>
            <%  }%>
    </table>





  

    <table id="customers">
        <tr>
            <th>Fecha</th>
            <th>Empresa Distribuidora</th>
            <th>Nombre Contrato</th>            
            <th>Categoria Precio</th>    
            <th>POTENCIA EQUIVALENTE COMPROMETIDA PE (MW)</th>
            <th>DMG-RC (MW)</th>
            <th>E (MWh)</th>
            <th>EAR</th>
            <th>Ingreso a Precio de Contado</th>             
        </tr>     
    

        <% console.log(cortoPlazoI) %> 

        <% 
        if(cortoPlazoI.length!=0){
            for(var i=0 ; i < cortoPlazoI.length ; i++) { %>
                <tr>
                    <td><%= cortoPlazoI[i].fecha %></td>
                    <td><%= cortoPlazoI[i].EMPRESA %></td>
                    <td><%= cortoPlazoI[i].nombre_contrato %></td>
                    <td><%= cortoPlazoI[i].categoria_precio %></td>                       
                    <td><%= cortoPlazoI[i].potencia_contratada.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= cortoPlazoI[i].dmm_s.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= cortoPlazoI[i].energia.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= cortoPlazoI[i].EAR.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= cortoPlazoI[i].ingreso_precio_contado.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                </tr>
                <% }
            } else { %>
                <tr>
                    <td colspan="3">No Data</td>
                </tr>
                <%  }%>
    </table>




<!-- Corto Plazo II  -->


<% console.log(cortoPlazoII.length) %>

    <table id="customers">
        <tr>
            <th>Fecha</th>
            <th>Empresa Distribuidora</th>
            <th>Nombre Contrato</th>            
            <th>Categoria Precio</th>    
            <th>POTENCIA EQUIVALENTE COMPROMETIDA PE (MW)</th>
            <th>DMG-RC (MW)</th>
            <th>E (MWh)</th>
            <th>EAR</th>
            <th>Ingreso a Precio de Contado</th>             
        </tr>     
    

        <% console.log(cortoPlazoII) %> 

        <% 
        if(cortoPlazoII.length!=0){
            for(var i=0 ; i < cortoPlazoII.length ; i++) { %>
                <tr>
                    <td><%= cortoPlazoII[i].fecha %></td>
                    <td><%= cortoPlazoII[i].EMPRESA %></td>
                    <td><%= cortoPlazoII[i].nombre_contrato %></td>
                    <td><%= cortoPlazoII[i].categoria_precio %></td>                       
                    <td><%= cortoPlazoII[i].potencia_contratada.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= cortoPlazoII[i].dmm_s.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= cortoPlazoII[i].energia.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= cortoPlazoII[i].EAR.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= cortoPlazoII[i].ingreso_precio_contado.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                </tr>
                <% }
            } else { %>
                <tr>
                    <td colspan="3">No Data</td>
                </tr>
                <%  }%>
    </table>


<!-- Largo Plazo   -->


<% console.log(largoPlazo.length) %>

    <table id="customers">
        <tr>
            <th>Fecha</th>
            <th>Empresa Distribuidora</th>
            <th>Nombre Contrato</th>            
            <th>Categoria Precio</th>    
            <th>POTENCIA EQUIVALENTE COMPROMETIDA PE (MW)</th>
            <th>DMG-RC (MW)</th>
            <th>E (MWh)</th>
            <th>EAR</th>
            <th>Ingreso a Precio de Contado</th>             
        </tr>     
    

        <% console.log(largoPlazo) %> 

        <% 
        if(largoPlazo.length!=0){
            for(var i=0 ; i < largoPlazo.length ; i++) { %>
                <tr>
                    <td><%= largoPlazo[i].fecha %></td>
                    <td><%= largoPlazo[i].EMPRESA %></td>
                    <td><%= largoPlazo[i].nombre_contrato %></td>
                    <td><%= largoPlazo[i].categoria_precio %></td>                       
                    <td><%= largoPlazo[i].potencia_contratada.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= largoPlazo[i].dmm_s.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= largoPlazo[i].energia.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= largoPlazo[i].EAR.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= largoPlazo[i].ingreso_precio_contado.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                </tr>
                <% }
            } else { %>
                <tr>
                    <td colspan="3">No Data</td>
                </tr>
                <%  }%>
    </table>




<!-- Potencia I   -->


<% console.log(potenciaI.length) %>

    <table id="customers">
        <tr>
            <th>Fecha</th>
            <th>Empresa Distribuidora</th>
            <th>Nombre Contrato</th>            
            <th>Categoria Precio</th>    
            <th>POTENCIA EQUIVALENTE COMPROMETIDA PE (MW)</th>
            <th>DMG-RC (MW)</th>
            <th>E (MWh)</th>
            <th>EAR</th>
            <th>Ingreso a Precio de Contado</th>             
        </tr>     
    

        <% console.log(potenciaI) %> 

        <% 
        if(potenciaI.length!=0){
            for(var i=0 ; i < potenciaI.length ; i++) { %>
                <tr>
                    <td><%= potenciaI[i].fecha %></td>
                    <td><%= potenciaI[i].EMPRESA %></td>
                    <td><%= potenciaI[i].nombre_contrato %></td>
                    <td><%= potenciaI[i].categoria_precio %></td>                       
                    <td><%= potenciaI[i].potencia_contratada.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= potenciaI[i].dmm_s.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= potenciaI[i].energia.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= potenciaI[i].EAR.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= potenciaI[i].ingreso_precio_contado.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                </tr>
                <% }
            } else { %>
                <tr>
                    <td colspan="3">No Data</td>
                </tr>
                <%  }%>
    </table>


<!-- Potencia II   -->

<% console.log(potenciaII.length) %>

    <table id="customers">
        <tr>
            <th>Fecha</th>
            <th>Empresa Distribuidora</th>
            <th>Nombre Contrato</th>            
            <th>Categoria Precio</th>    
            <th>POTENCIA EQUIVALENTE COMPROMETIDA PE (MW)</th>
            <th>DMG-RC (MW)</th>
            <th>E (MWh)</th>
            <th>EAR</th>
            <th>Ingreso a Precio de Contado</th>             
        </tr>     
    

        <% console.log(potenciaII) %> 

        <% 
        if(potenciaII.length!=0){
            for(var i=0 ; i < potenciaII.length ; i++) { %>
                <tr>
                    <td><%= potenciaII[i].fecha %></td>
                    <td><%= potenciaII[i].EMPRESA %></td>
                    <td><%= potenciaII[i].nombre_contrato %></td>
                    <td><%= potenciaII[i].categoria_precio %></td>                       
                    <td><%= potenciaII[i].potencia_contratada.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= potenciaII[i].dmm_s.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= potenciaII[i].energia.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= potenciaII[i].EAR.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                    <td><%= potenciaII[i].ingreso_precio_contado.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %></td>
                </tr>
                <% }
            } else { %>
                <tr>
                    <td colspan="3">No Data</td>
                </tr>
                <%  }%>
    </table>

















</div>
</body>
</html>
















