
<%- include('partials/header', { title: "Contratos" } )%>

<div class="container theme-showcase" role="main">

    <form action="/action_page.php">
        <label for="cars">Fecha:</label>

        <select name="cars" id="fecha">
            <%# console.log(fechas)%>
            <% for(var i = 0; i < fechas.length; i++) { %>
    
                <option value= <%= fechas[i].fecha %>   <%= fechas[i].fecha == fecha ? 'selected' : ''  %>     >  <%= fechas[i].mes  + ' ' + fechas[i].anio   %>   </option>
    
            <% } %>
            </select>
            
    
           
    
            <button type="button" class="btn btn-xs btn-success" onclick= " window.location='../contratos/' + getElementById('fecha').value ">Actualizar</button>
            <!-- <button type="button" class="btn btn-xs btn-success" onclick="console.log(getElementById('cars').value)  ">Actualizar</button> -->
            <!-- <button type="button" class="btn btn-xs btn-success">Descargar</button> -->
        </form>


        


    <table id="customers">
        <tr>
            <th style="width:8%">Fecha</th>
            <th>Nombre Contrato</th>
            <th>Empresa Distribuidora</th>
            <th>Potencia Contratada</th>
            <th>Categoria Precio</th>
            <th>Precio Base USD MWh</th>
            <th>Cargo Transmisión</th>
            <th>Precio</th>
            <th>Demanda Max Generación</th>
            <th>DMG S</th>
            <th>DMM S</th>
            <th>Energia</th>
            <th>EAR</th>
            <th>Ingreso por Contrato</th>            
        </tr>

        <% if( contratos.length > 0 ) {
            for ( var i=0 ; i <contratos.length ; i++) { %>
                <tr>
                    <td><%= contratos[i].fecha %></td>
                    <td><%= contratos[i].nombre_contrato %></td>
                    <td><%= contratos[i].empresa %></td>
                    <td><%= contratos[i].potencia_contratada %></td>
                    <td><%= contratos[i].categoria_precio %></td>
                    <td><%= contratos[i].precio_base_usd_mwh %></td>
                    <td><%= contratos[i].cargo_transmicion_seguimiento_electrico %></td>
                    <td><%= contratos[i].precio %></td>
                    <td><%= contratos[i].dmg %></td>
                    <td><%= contratos[i].dmg_s %></td>
                    <td><%= contratos[i].dmm_s %></td>
                    <td><%= contratos[i].energia %></td>
                    <td><%= contratos[i].EAR %></td>
                    <td><%= contratos[i].ingreso_precio_contado %></td>
                  
                </tr>
            <% } } %>
    </table>

</div>

</body>





