
<%- include('partials/header', { title: "Energy Balance" } )%>

<div class="container theme-showcase" role="main">


<% 
function numberWithCommas(x) {
    return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
}
%>



<form action="">


    <select name="anios" id="anios">
   
        <% for(var i = 0; i < anios.length; i++) { %>

            <option value=<%=anios[i].anio%>   <%=anios[i].anio == anio ? 'selected' : ''%>>  <%= anios[i].anio   %>   </option>

        <% } %>
    </select>
        

<!-- 
    <select name="cars" id="fecha">
        
        <option value="2016"  <%#= anio == "2016" ? 'selected' : '' %> >2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022" selected>2022</option>
    </select> -->
    
  

    <!-- <button type="button" class="btn btn-xs btn-success" onclick= "">Actualizar</button> -->
    <!-- <button type="button" class="btn btn-xs btn-success">Descargar</button> -->

    <button type="button" class="btn btn-xs btn-success" onclick= " window.location='../energyBalance/' + getElementById('anios').value ">Consultar</button>
</form>



    <!-- tabla 1 -->
    <table id="customers" style="width:100%">
        <tr>
            <th style="width:8%">Fecha</th>
            <th>FHPCs Generation CND</th>
            <th>Spot Energy Purchases</th>
            <th>FICs Avg Purchase Price </th>
            <th>Total (GWh)</th>
            <th>Spot Energy Sales</th>
            <th>FICs Avg Sale Price</th>
            <th>PPA Sales (MWh)</th>
            <th>Transmission Losses Energy</th>
            <th>Exports (MWh)</th>
            <th>Total (GWh)</th>                  
        </tr>

        <% if( tabla_eb1.length > 0 ) {
            for ( var i=0 ; i <tabla_eb1.length ; i++) { %>
                <tr>
                    <td><%= tabla_eb1[i].fecha %></td>
                    <td class="num"><%= tabla_eb1[i].fhpc_generation.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb1[i].spot_energy_purchases.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb1[i].avg_purchase_price.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb1[i].total_gwh_1.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb1[i].spot_energy_sales.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb1[i].avg_sale_price.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb1[i].ppa_sales.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb1[i].transmission_losses.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb1[i].exports.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb1[i].total_gwh_2.toLocaleString() %></td>                    
                </tr>
            <% } } %>
    </table>




    <p>
        <table id="customers" style="width:100%">
            <tr>
                <th style="width:8%">Fecha</th>
                <th>Delivered CND</th>
                <th>Spot Energy Purchases</th>
                <th>Total (GWh)</th>
                <th>PPA Sales (MWh)</th>
                <th>Spot Energy Sales</th>
                <th>Transmission Compensation</th>
                <th>Exports (MWh)</th>
                <th>Total (GWh)</th>                 
            </tr>

        <% if( tabla_eb2.length > 0 ) {
            for ( var i=0 ; i <tabla_eb2.length ; i++) { %>
                <tr>
                    <td><%= tabla_eb2[i].fecha %></td>
                    <td class="num"><%= tabla_eb2[i].delivered_cnd.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb2[i].spot_energy_purchases.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb2[i].total_gwh_1.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb2[i].ppa_sales.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb2[i].spot_energy_sales.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb2[i].transmission_losses.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb2[i].exports.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb2[i].total_gwh_2.toLocaleString() %></td>
                    
                </tr>
            <% } } %>
        </table>
    </p>



    <p>
        <table id="customers" style="width:100%" >
        <tr>
            <th style="width:8%">Fecha</th>
            <th>FIC's Generation CND</th>
            <th>Spot Energy Purchases</th>
            <th>Total</th>
            <th>PPA Sales</th>
            <th>Spot Energy Sales</th>
            <th>Transmission Compensation</th>
            <th>Exports (MWh)</th>
            <th>Total</th>            
        </tr>

        <% if( tabla_eb3.length > 0 ) {
            for ( var i=0 ; i <tabla_eb3.length ; i++) { %>
                <tr>
                    <td><%= tabla_eb3[i].fecha %></td>
                    <td class="num"><%= tabla_eb3[i].delivered_cnd.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb3[i].spot_energy_purchases.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb3[i].total_gwh_1.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb3[i].ppa_sales.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb3[i].spot_energy_sales.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb3[i].transmission_losses.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb2[i].exports.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb3[i].total_gwh_2.toLocaleString() %></td>                    
                </tr>
            <% } } %>
    </table>
    </p>




    <p>
        <table id="customers" style="width:100%">
        <tr>
            <th style="width:8%">Fecha</th>
            <th>FHPC'S GROSS ENERGY - GOP (MWh)</th>
            <th>FHPC'S ENERGY - GOP (MWh)</th>
            <th>FHPC's Generation CND</th>
            <th>FHPC's Generation SMEC 230-36</th>
            <th>%Losses SMEC 230-36</th>
            <th>% Losses GOP</th>
            <th>% Losses GROSS GENERATION GOP</th> 
        </tr>

        <% if( tabla_eb4.length > 0 ) {
            for ( var i=0 ; i <tabla_eb4.length ; i++) { %>
                <tr>
                    <td><%= tabla_eb4[i].fecha %></td>
                    <td class="num"><%= tabla_eb4[i].fhcp_gross_enery_gop.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb4[i].fhcp_enery_gop.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb4[i].fhpc_generation_cnd.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb4[i].fhpc_generation_smec.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb4[i].losses_smec.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb4[i].losses_gop.toLocaleString() %></td>
                    <td class="num"><%= tabla_eb4[i].losses_gross_generation_gop.toLocaleString() %></td>
                  
                </tr>
            <% } } %>
        </table>
    </p>

</div>

</body>





