
<%- include('partials/header', { title: "Modificar Precios" } )%>


<div class="container theme-showcase" role="main">

    <input type="text" id="txtFiltrarFecha" onkeyup="filtrarFecha()" placeholder="Buscar por fecha">
    <input type="text" id="txtFiltrarPrecio" onkeyup="filtrarPrecio()" placeholder="Buscar por categoria">

    <table id="customers">
        <tr>
            <th>id</th>
            <th>Fecha</th>
            <th>Categoia Precio</th>
            <th>Precio Base USD/MWh</th>
            <th>Cargo Transmisión Seguimiento Electrico</th>                           
            <th>Precio</th>         
        </tr>

        <% if( precios.length > 0 ) {
            for ( var i=0 ; i <precios.length ; i++) { %>
                <tr>
                    <td><%= precios[i].id %></td>
                    <td><%= precios[i].fecha %></td>
                    <td><%= precios[i].categoria_precio %></td>
                    <td class="num"><%= precios[i].precio_base_usd_mwh %></td>
                    <td class="num"><%= precios[i].cargo_transmicion_seguimiento_electrico %></td>
                    <td class="num"><%= precios[i].precio %></td>
                    <td><button class="btn btn-xs btn-success"  onclick= " window.location = '../modificarPrecios/<%= precios[i].id %>'" >Modificar</button></td> 
                    <td><button class="btn btn-xs btn-warning"  onclick= " window.location = '../eliminarPrecios/<%= precios[i].id %>'" >Eliminar</button></td> 
                </tr>
            <% } } %>
    </table>

</div>



<script>
function filtrarFecha() {
  // Declare variables
  
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("txtFiltrarFecha");
  filter = input.value.toUpperCase();
  table = document.getElementById("customers");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


<script>
function filtrarPrecio() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("txtFiltrarPrecio");
  filter = input.value.toUpperCase();
  table = document.getElementById("customers");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


</body>

