
<%- include('partials/header', { title: "Modificar Contratos" } )%>


<div class="container theme-showcase" role="main">

    <input type="text" id="txtFiltrarFecha" onkeyup="filtrarFecha()" placeholder="Buscar por fecha">
    <input style="width: 300px" type="text" id="txtFiltrarContrato" onkeyup="filtrarContrato()" placeholder="Buscar por contrato">
    <button class="btn btn-xs btn-info"  onclick="Resetear()"> Volver </button>


    <table id="customers">
        <tr>
            <th>ID</th>
            <th style="width:8%">Fecha</th>
            <th>Nombre Contrato</th>
            <th>Empresa</th>
            <th>Potencia Contratada</th>
            <th>Categoria Precio</th>
            <th>Precio Base USD MWh</th>
            <th>Cargo Transmisión</th>
            <th>Precio </th>                   
        </tr>

        <% if( contratos.length > 0 ) {
            for ( var i=0 ; i <contratos.length ; i++) { %>
                <tr>
                    <td><%= contratos[i].id %></td>
                    <td><%= contratos[i].fecha %></td>
                    <td><%= contratos[i].nombre_contrato %></td>
                    <td><%= contratos[i].empresa %></td>
                    <td class="num"><%= contratos[i].potencia_contratada %></td>
                    <td><%= contratos[i].categoria_precio %></td>
                    <td class="num"><%= contratos[i].precio_base_usd_mwh %></td>
                    <td class="num"><%= contratos[i].cargo_transmicion_seguimiento_electrico %></td>
                    <td class="num"><%= contratos[i].precio  %></td>
                    <td><button class="btn btn-xs btn-info"  onclick="filtrarContratoPorBoton('<%=contratos[i].nombre_contrato%>')">Seleccionar</button></td> 
                    <td><button class="btn btn-xs btn-success"  onclick= " window.location = '../modificarContratos/<%= contratos[i].id %>'" > Modificar Contrato  </button></td>
                    <td><button class="btn btn-xs btn-warning"  onclick= " window.location = '../eliminarContratos/<%= contratos[i].id %>'" >Eliminar Contrato</button></td> 
  

                
                </tr>
            <% } } %>
    </table>

    </div>
</div>



<script>
function filtrarFecha() {
  // Declare variables
  
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("txtFiltrarFecha");
  filter = input.value.toUpperCase();
  table = document.getElementById("customers");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


<script>
function filtrarContrato() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("txtFiltrarContrato");
  filter = input.value.toUpperCase();
  table = document.getElementById("customers");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>



<script>
 function filtrarContratoPorBoton(nombre_contrato){
  var input, filter, table, tr, id

  input = document.getElementById("txtFiltrarContrato");
  input.value = nombre_contrato;
  filtrarContrato();

 } 
 
 </script>


 <script>
  
  function Resetear(){
  var input

  input = document.getElementById("txtFiltrarContrato");
  input.value = '';
  filtrarContrato();
  }

  </script>

</body>

