
<%- include('partials/header', { title: "Modificar Contratos" } )%>


<div class="container theme-showcase" role="main">

    <table id="customers">
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Nombre Contrato</th>
            <th>Empresa</th>
            <th>Potencia Contratada</th>
            <th>Categoria Precio</th>
            <th>Precio Base USD MWh</th>
            <th>Cargo Transmisión</th>
            <th>Precio </th>                   
        </tr>

        <% if( contratos.length > 0 ) {
            for ( var i=0 ; i <contratos.length ; i++) { %>
                <tr>
                    <td><%= contratos[i].id %></td>
                    <td><%= contratos[i].fecha %></td>
                    <td><%= contratos[i].nombre_contrato %></td>
                    <td><%= contratos[i].empresa %></td>
                    <td><%= contratos[i].potencia_contratada %></td>
                    <td><%= contratos[i].categoria_precio %></td>
                    <td><%= contratos[i].precio_base_usd_mwh %></td>
                    <td><%= contratos[i].cargo_transmicion_seguimiento_electrico %></td>
                    <td><%= contratos[i].precio  %></td>
                    <td><button class="btn btn-xs btn-success"  onclick= " window.location = '../modificarContratos/<%= contratos[i].id %>'" > Modificar Contrato  </button></td>

                
                </tr>
            <% } } %>
    </table>

    </div>
</div>

</body>

